* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
img {
  width: 320px;
  position: relative;
}
.over {
  position: absolute;
  top: 180px;
  left: 5px;
  opacity: 0.6;
}
.detail {
  width: 320px;
}

h4,
p {
  margin: 20px 0px;
}

#close {
  background-color: #fff;
  border: 1px solid #aaa;
}

#desc {
  display: none;
}
