* {
  box-sizing: border-box;
  margin: 0px;
}

#container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: transparent; // 투명처리 */
}

#container p {
  margin-bottom: 20px;
}

#rect {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  transition: 2s ease-in-out;
}
